* {
    outline: medium none;
}
body {
    background: url("../images/bodyBg.jpg") repeat scroll 0 0 transparent;
    font: 12px Tahoma,Geneva,sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
}
img {
    border: medium none;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.clear {
    clear: both;
}
.red {
    color: #FF0000;
}
p {
    color: #3B3B3B;
    font: 12px/19px Tahoma,Geneva,sans-serif;
    margin: 0;
    padding: 5px 0;
}
#wrapper {
    background: url("../images/currtens.png") repeat-x scroll center top transparent;
    min-height: 500px;
    width: 100%;
}
#main {
    margin: auto;
    width: 1002px;
}
#header {
    background: url("../images/headerBg.png") repeat-x scroll center top transparent;
    float: left;
    margin: 79px 0 0;
    position: relative;
    width: 100%;
}
#header .logo {
    left: 12px;
    position: absolute;
    top: -72px;
}
#header .hotlineNum {
    position: absolute;
    right: 0;
    top: -78px;
}
#header .headerSlogan {
    color: #7A7979;
    font: italic 20px "Trebuchet MS",Arial,Helvetica,sans-serif;
    position: absolute;
    right: 217px;
    text-align: center;
    top: 15px;
    width: 400px;
}
#header .headerSlogan span {
    display: block;
    font-size: 24px;
}
#header .topNav {
    background: url("../images/topNavBg.jpg") repeat-x scroll center top transparent;
    clear: both;
    color: #272727;
    float: left;
    font: bold 15px/32px "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin: 0 0 0 10px;
    text-align: center;
    width: 98%;
}
#header .topNav ul {
    float: left;
    list-style: none outside none;
    margin: 0 0 0 70px;
    padding: 0;
}
#header .topNav ul li {
    background: url("../images/menu-divider.png") no-repeat scroll right center transparent;
    float: left;
    height: 35px;
    padding-right: 2px;
}
#header .topNav ul li.last {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}
#header .topNav a {
    color: #272727;
    float: left;
    font-size: 14px;
    padding: 0 12px;
}
#header .topNav a:hover, #header .topNav a.active {
    color: #F8039C;
    text-decoration: underline;
}
#contentArea {
    clear: both;
}
#leftNav {
    float: left;
    width: 67%;
}
#leftNavNarrow {
    float: left;
    width: 18%;
}
#rightNav {
    float: right;
    width: 31%;
}
#rightNavWide {
    float: right;
    width: 81%;
}
#centerPart {
    float: left;
    margin-left: 1.1%;
    width: 62%;
}
#rightNavNarrow {
    float: right;
    width: 18%;
}
#content {
}
#footer {
    clear: both;
    float: left;
    font: bold 14px "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin: 15px 0;
    text-align: center;
    width: 100%;
}
#footer a {
    color: #272727;
}
#footer a:hover {
    color: #FFFFFF;
}
.copyright {
    font: 12px "Trebuchet MS",Arial,Helvetica,sans-serif;
}
.box {
    float: left;
    margin: 18px 0 0;
    width: 100%;
}
.box .boxtop {
    overflow: hidden;
}
.box .boxtop .boxtopbg {
    background: url("../images/boxtopbg.jpg") repeat-x scroll center top transparent;
    height: 20px;
    margin: auto;
    width: 96.2%;
}
.box .boxtop .boxtopbg.sml {
    width: 90%;
}
.box .boxtop .boxtopbg.sml2 {
    width: 90%;
}
.box .boxbot .boxbotbg {
    background: url("../images/boxbotbg.jpg") repeat-x scroll center top transparent;
    height: 20px;
    margin: auto;
    width: 96.2%;
}
.box .boxbot .boxbotbg.sml {
    width: 90%;
}
.box .boxbot .boxbotbg.sml2 {
    width: 90%;
}
.box .boxbot {
    position: relative;
}
.box .boxbot .flower {
    position: absolute;
    right: 3px;
    top: -43px;
}
.fullboxBg {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: -moz-use-text-color #B2B9C2;
    border-left: 3px solid #B2B9C2;
    border-right: 3px solid #B2B9C2;
    border-style: none solid;
    border-width: 0 3px;
    clear: both;
}
.boxContent {
    background: url("../images/boxBg.jpg") repeat-x scroll center top transparent;
    margin: auto;
    width: 100%;
}
.boxGr {
    background: url("../images/boxGr.jpg") repeat-x scroll center bottom transparent;
    overflow: hidden;
    padding: 0 15px;
}
.boxGr h3 {
    font: 20px "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin: 0 0 8px;
    padding: 0;
}
.boxGr h4 {
    font: bold 13px "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin: 0 0 8px;
    padding: 0;
}
.boxheight {
    min-height: 391px;
}
.box .boxtop2 {
    overflow: hidden;
}
.box .boxtop2 .boxtopbg {
    background: url("../images/boxTop2.png") repeat-x scroll center top transparent;
    height: 20px;
    margin: auto;
    width: 96.2%;
}
.box .boxtop2 .boxtopbg.sml {
    width: 90%;
}
.box .boxbot2 .boxbotbg {
    background: url("../images/boxBot2bg.png") repeat-x scroll center top transparent;
    height: 20px;
    margin: auto;
    width: 96.2%;
}
.box .boxbot2 .boxbotbg.sml {
    width: 90%;
}
.box .boxbot2 {
    position: relative;
}
.boxGr2 {
    background: url("../images/boxBG2.png") repeat-x scroll center top transparent;
    overflow: hidden;
    padding: 0 15px;
}
.boxGr2 h3 {
    font: 20px "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin: 0 0 8px;
    padding: 0;
}
.venCat {
    float: left;
    margin: 0 5px 10px 0;
    width: 32%;
}
.venCat img {
    float: left;
    margin: 0 8px 0 0;
}
.venCat .pcName {
    color: #272727;
    font: bold 15px "Trebuchet MS",Arial,Helvetica,sans-serif;
}
.pcNamein {
    color: #272727;
    float: left;
    font: bold 15px "Trebuchet MS",Arial,Helvetica,sans-serif;
    width: 64%;
}
.venCat .catName {
    color: #272727;
    font: bold 15px "Trebuchet MS",Arial,Helvetica,sans-serif;
}
.venCat .catName:hover {
    color: #F8039C;
}
.venCat .moreCat {
    background: url("../images/arrow.jpg") no-repeat scroll left center transparent;
    color: #000000;
    margin: 10px 0 0;
    padding: 0 0 0 10px;
    text-decoration: none;
}
.venCat .moreCat:hover {
    color: #F8039C;
}
.homeSearch {
    margin: 0;
    padding: 0;
}
.homeSearch label {
    display: block;
    font: bold 12px Tahoma,Geneva,sans-serif;
    margin: 20px 0 10px;
}
.homeSearch select {
    border: 1px solid #F8039C;
    margin: 0 0 15px;
    padding: 2px;
    width: 100%;
}
.button {
    margin: 30px 0 0 50px;
}
.ourUnique {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.ourUnique li {
    color: #626161;
    font: 12px Verdana,Arial,Helvetica,sans-serif;
    margin: 0 20px 5px 0;
    padding: 0 0 0 23px;
}
.ourUnique li.icon01 {
    background: url("../images/icon01.png") no-repeat scroll left top transparent;
}
.ourUnique li.icon02 {
    background: url("../images/icon02.png") no-repeat scroll left top transparent;
    min-height: 20px;
    padding-top: 5px;
}
.ourUnique li.icon03 {
    background: url("../images/icon03.png") no-repeat scroll left top transparent;
}
.ourUnique li.icon04 {
    background: url("../images/icon04.png") no-repeat scroll left top transparent;
    min-height: 16px;
    padding-top: 5px;
}
.ourUnique li.icon05 {
    background: url("../images/icon05.png") no-repeat scroll left top transparent;
    min-height: 20px;
    padding-top: 5px;
}
.google-adds {
    padding: 10px 0 0;
    text-align: center;
    width: 100%;
}
.banner-adds {
    font: bold 17px "Trebuchet MS",Arial,Helvetica,sans-serif;
    min-height: 70px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
p.dec {
    color: #626161;
    font: 12px/18px Verdana,Arial,Helvetica,sans-serif;
    padding: 0;
}
.contactform {
    width: 100%;
}
.contactform label {
    display: block;
    font: bold 12px Tahoma,Geneva,sans-serif;
    margin: 12px 0 10px;
}
.contactform .input-txt {
    border: 1px solid #F8039C;
    font: 11px Tahoma,Geneva,sans-serif;
    padding: 5px 15px;
    width: 240px;
}
.contactform .txt-area {
    border: 1px solid #F8039C;
    font: 11px Tahoma,Geneva,sans-serif;
    height: 50px;
    padding: 5px 15px;
    width: 240px;
}
.venCatSml {
    float: left;
    margin: 0 0 13px 0;
    width: 100%;
}
.venCatSml img {
    float: left;
    margin: 0 8px 0 0;
}
.venCatSml .catName {
    color: #757474;
    display: inline-block;
    font: bold 11px Tahoma,Geneva,sans-serif;
    margin-bottom: 10px;
}
.venCatSml .catName:hover {
    color: #F8039C;
}
.venCatSml .moreCat {
    background: url("../images/bullet.gif") no-repeat scroll left center transparent;
    color: #757474;
    margin: 5px 0 0;
    padding: 0 0 0 10px;
}
.relative {
    position: relative;
}
.likebuttons {
    height: 30px;
    position: absolute;
    right: 10px;
    top: 5px;
    width: 190px;
}
.venue-desc {
    width: 202px;
}
.venue-desc img {
    border: 2px solid #F8039C;
    margin-bottom: 10px;
}
.venue-desc .addressLine {
    font: 12px Tahoma,Geneva,sans-serif;
}
.google-map {
    border: 2px solid #F8039C;
    height: 310px;
    width: 560px;
}
.image-slider {
    border: 2px solid #F8039C;
    height: 276px;
    width: 529px;
}
.nivoSlider {
    position: relative;
}
.nivoSlider img {
    left: 0;
    position: absolute;
    top: 0;
}
.nivoSlider a.nivo-imageLink {
    border: 0 none;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
}
.nivo-slice {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
}
.nivo-caption {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #FFFFFF;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 8;
}
.nivo-caption p {
    margin: 0;
    padding: 5px;
}
.nivo-caption a {
    display: inline !important;
}
.nivo-html-caption {
    display: none;
}
.nivo-directionNav a {
    cursor: pointer;
    position: absolute;
    top: 43%;
    z-index: 9;
}
.nivo-prevNav {
    left: 0;
}
.nivo-nextNav {
    right: 0;
}
.nivo-controlNav a {
    cursor: pointer;
    position: relative;
    z-index: 9;
}
.nivo-controlNav a.active {
    font-weight: bold;
}
.theme-default .nivoSlider {
    background: url("../images/loading.gif") no-repeat scroll 50% 50% #FFFFFF;
    position: relative;
}
.theme-default .nivoSlider img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
.theme-default .nivoSlider a {
    border: 0 none;
    display: block;
}
.theme-default .nivo-controlNav {
    bottom: 5px;
    position: absolute;
    right: 10px;
}
.theme-default .nivo-controlNav a {
    background: url("../images/bullets.png") no-repeat scroll left top transparent;
    border: 0 none;
    display: block;
    float: left;
    height: 22px;
    margin-right: 3px;
    text-indent: -9999px;
    width: 22px;
}
.theme-default .nivo-controlNav a.active {
    background-position: -22px 0;
}
.theme-default .nivo-directionNav a {
    background: url("../images/arrows.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    display: block;
    height: 38px;
    text-indent: -9999px;
    width: 17px;
}
.theme-default a.nivo-nextNav {
    background-position: -18px 0;
    right: 0;
}
.theme-default a.nivo-prevNav {
    left: 0;
}
.theme-default .nivo-caption {
    font-family: Helvetica,Arial,sans-serif;
}
.theme-default .nivo-caption a {
    border-bottom: 1px dotted #FFFFFF;
    color: #FFFFFF;
}
.theme-default .nivo-caption a:hover {
    color: #FFFFFF;
}
.latest-news {
    width: 230px;
}
.latest-news p {
    line-height: 17px;
    padding: 0 0 10px;
}
.getVenue {
    width: 100%;
}
.getVenue .getvenue_cont {
    float: left;
    margin-right: 1.5%;
    position: relative;
    width: 32%;
}
.getVenue .getvenue_capt {
    float: left;
    margin-right: 1.5%;
    margin-top: 2.5%;
    position: relative;
    width: 50%;
}
.getVenue .getvenue_capt img {
    float: left;
    margin-right: 1.5%;
}
.getVenue .getvenue_cont.last {
    margin: 0;
}
.getVenue .getvenue_cont label, .getvenue_capt div label {
    display: block;
    font: bold 12px Tahoma,Geneva,sans-serif;
    margin: 12px 0 10px;
}
.getVenue .getvenue_cont .txt-name {
    border: 1px solid #F8039C;
    font: 11px Tahoma,Geneva,sans-serif;
    padding: 5px 10px;
    width: 91%;
}
.getvenue_capt div .txt-name {
    border: 1px solid #F8039C;
    font: 11px Tahoma,Geneva,sans-serif;
    padding: 5px 10px;
    width: 90%;
}
.getvenue_capt .captInput {
    float: right;
    width: 66%;
}
.getVenue .getvenue_cont select {
    border: 1px solid #F8039C;
    margin: 0 0 15px;
    padding: 2px;
    width: 100%;
}
.getVenue .gobutton {
    margin: 5.5% 0 0 1.5%;
    width: 68px;
}
.calicon {
    bottom: 3px;
    position: absolute;
    right: 3px;
}
.searchImg {
    border: 2px solid #F8039C;
    width: 188px;
}
.searchDec {
    width: 375px;
}
.searchDec h3 {
    font-size: 18px;
    margin-bottom: 5px;
}
.searchDec p {
    line-height: 16px;
    min-height: 80px;
    padding: 0 0 10px;
}
a.imgGalleryBtn {
    background: url("../images/search-result-btn.png") no-repeat scroll left top transparent;
    height: 30px;
    text-indent: -10000px;
    width: 116px;
}
a.BookNowBtn {
    background: url("../images/search-result-btn.png") no-repeat scroll -118px top transparent;
    height: 30px;
    margin: 0 20px;
    text-indent: -10000px;
    width: 116px;
}
a.locationMapBtn {
    background: url("../images/search-result-btn.png") no-repeat scroll -236px top transparent;
    height: 30px;
    text-indent: -10000px;
    width: 96px;
}
span.searchOpt {
    margin-right: 20px;
}
.prev-Btn {
    background: url("../images/next-prev-btn.png") no-repeat scroll left top transparent;
    height: 35px;
    text-indent: -10000px;
    width: 146px;
}
.next-Btn {
    background: url("../images/next-prev-btn.png") no-repeat scroll left top transparent;
    height: 35px;
    text-indent: -10000px;
    width: 146px;
}
.pagi {
    float: left;
    font: 18px "Trebuchet MS",Arial,Helvetica,sans-serif;
    padding: 5px;
    text-align: center;
    width: 280px;
}
.pagi a {
    color: #000000;
}
.pagi a:hover {
    color: #F8039C;
}
.pagi span.current {
    color: #F8039C;
}
.testi {
    width: 100%;
}
.testi.divid-line {
    background: url("../images/testi-divider.png") no-repeat scroll center bottom transparent;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.testi p {
    font: 11px/14px Verdana,Geneva,sans-serif;
}
.testi p span {
    display: block;
    font-style: italic;
    padding: 5px 0;
    text-align: right;
}
.testi p a.readM {
    color: #000000;
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
    text-align: right;
}
.testi p a.readM:hover {
    color: #F8039C;
}
.why-Q {
    background: url("../images/bullet2.gif") no-repeat scroll left 4px transparent;
    display: block;
    font: bold 10px Verdana,Geneva,sans-serif;
    padding: 0 0 0 10px;
}
.why-A {
    display: block;
    font: 10px Verdana,Geneva,sans-serif;
    padding: 5px 0 10px 10px;
}
.runSearch {
    width: 100%;
}
.runSearch label {
    color: #7F7D7D;
    display: block;
    font: bold 12px Tahoma,Geneva,sans-serif;
    margin: 10px 0;
}
.runSearch select {
    border: 1px solid #F8039C;
    color: #7F7D7D;
    font: 11px Tahoma,Geneva,sans-serif;
    margin: 0 0 10px;
    padding: 2px;
    width: 100%;
}
.runSearch .button {
    margin: 30px 0 0 10px;
}
.errorMsg {
    border: 1px dashed #F8039C;
    color: #F8039C;
    margin: auto;
    padding: 10px;
    width: 97%;
}
.blankErrorMsg {
    border: 1px dashed #FFFFFF;
    color: #FFFFFF;
    margin: auto;
    padding: 10px;
    width: 97%;
}


